:root {
  // Page margin
  --indent: 110px;

  //Text props
  --h1-size: 50px;
  --h1-lh: 55px;
  --h2-size: 42px;
  --h2-lh: 47px;
  --h3-size: 32px;
  --h3-lh: 39px;
  --h4-size: 24px;
  --h4-lh: 31px;
  --h5-size: 24px;
  --h5-lh: 31px;
  --h6-size: 18px;
  --h6-lh: 25px;
  --subhead-size: 21px;
  --subhead-lh: 31px;
  --txt-size: 16px;
  --txt-lh: 24px;
  --txt-big-size: 18px;
  --txt-big-lh: 27px;
  --txt-sm-size: 14px;
  --txt-sm-lh: 20px;
  --txt-blog-size: 21px;
  --txt-blog-lh: 31px;

  // Height
  --header-height: 80px;
  --page-height: 100vh;

  @include laptop {
    --indent: 40px;
    --header-height: 60px;
  }

  @include tablet {
    --h1-size: 44px;
    --h2-size: 34px;
  }

  @include mobile-md {
    --indent: 20px;

    --h1-size: 36px;
    --h1-lh: 40px;
    --h2-size: 32px;
    --h2-lh: 39px;
    --h3-size: 24px;
    --h3-lh: 31px;
    --h4-size: 21px;
    --h4-lh: 30px;
    --h5-size: 18px;
    --h5-lh: 25px;
    --subhead-size: 18px;
    --subhead-lh: 27px;
    --txt-big-size: 16px;
    --txt-big-lh: 24px;
    --txt-blog-size: 18px;
    --txt-blog-lh: 27px;
  }

  @include mobile-sm {
    --h2-size: 24px;
  }
}


