html {
  width: 100%;
  height: 100%;

  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  font-family: $base-font;
  font-weight: 400;
  font-size: var(--txt-size);
  line-height: var(--txt-lh);
  color: $color-base;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden {
  display: none;
}

.js-accordion-details {
  overflow: hidden;

  transition: max-height $transition-props;

  &.is-hide {
    /* stylelint-disable */
    max-height: 0 !important;
    /* stylelint-enable */
  }
}