// COLORS
$color-base: #000000;
$color-base-trans: rgba(0, 0, 0, 0.9);
$color-contrast: #ffffff;
$color-contrast-trans: rgba(255, 255, 255, 0.8);
$color-accent: #9888C4;
$color-accent-dark: #7367ab;
$color-accent-mid-1: #A69DB3;
$color-accent-mid: #ddd0f2;
$color-accent-light: #eae7fb;
$color-gray-dark: #6a6575;
$color-gray-light: #a69db2;
$color-gray-light-1: #DBD9E7;
$color-gray-light-2: #E2EAEB;
$color-gray: #94919a;
$color-gray-icon: #262527;
$color-gray-social: #302c33;

// BACKGROUND-COLORS
$bg-blue: #F3F7FF;
$bg-sand: #FCF5EF;
$bg-gray: #f6f6f9;

// SIZES
$width-mobile: 320px;
$width-big-mobile: 360px;
$width-md-mobile: 550px;
$width-tablet: 768px;
$width-laptop: 1024px;
$width-mid: 1200px;
$width-desktop: 1440px;

// FONTS
$base-font: "Euclid-CircularA", "Arial", sans-serif;

//TRANSITIONS
$transition-duration: 0.3s;
$transition-timing-function: ease-in-out;
$transition-props: $transition-duration $transition-timing-function;

//SHADOWS
$shadow-card:
  0 4px 12px rgba(47, 27, 73, 0.12),
  0 1px 1px rgba(47, 41, 64, 0.08);

