.advantages {
  padding-top: 60px;
  padding-bottom: 30px;

  @include laptop {
    padding-top: 35px;
    padding-bottom: 52px;
  }

  @include mobile-md {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.advantages__wrapper {
  @include make-block-wrapper;
  padding-left: calc(var(--indent) - 20px);
  padding-right: calc(var(--indent) - 20px);

  @include laptop {
    padding-left: calc(var(--indent) - 15px);
    padding-right: calc(var(--indent) - 15px);
  }

  @include mobile-sm {
    padding: 0
  }
}

.advantages__list {
  @include no-list;
  display: flex;
  flex-wrap: wrap;

  .pseudo--1 {
    width: 400px;
    height: 400px;
    background: #847BB9;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    right: 40px;
    opacity: 0;
    transition: 1s ease all;
    transform: translate(70%, 70%);
    will-change: transform;

  }

  .pseudo--2 {
    width: 490px;
    height: 490px;
    background: #8A82BE;
    border-radius: 50%;
    position: absolute;
    bottom: 90px;
    right: 90px;
    z-index: 1;
    transform: translate(70%, 70%);
    opacity: 0;
    transition: 1s ease all;
    will-change: transform;

  }

  .pseudo--3 {
    width: 600px;
    height: 600px;
    background: #958ec3;
    bottom: 90px;
    right: 150px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    opacity: 0;
    transform: translate(70%, 70%);
    transition: 1s ease all;
    will-change: transform;
  }

  li {
    width: calc(100% / 3 - 40px);
    margin: 20px;
    box-shadow: 0 2px 20px rgba(152, 136, 196, 0.16);
    padding: 30px 20px 40px;
    overflow: hidden;
    position: relative;


    @include laptop {
      width: calc(100% / 3 - 20px);
      margin: 10px;
    }
    @include tablet {
      width: calc(100% / 2 - 20px);
    }

    @include mobile-sm {
      width: 100%;
      margin: 10px 0;
    }


    &:hover {
      background: #AEA8D2;

      .pseudo--1 {
        transform: translate(60%, 60%);
        opacity: 1;
        z-index: 3;
      }

      .pseudo--2 {
        opacity: 0.8;
        transform: translate(60%, 60%);
        z-index: 2;
      }

      .pseudo--3 {
        opacity: 0.6;
        transform: translate(60%, 60%);
        z-index: 1;
      }

      p {
        color: #fff;
      }

      h2 {
        color: #fff
      }

      .advantages__icon {
        background: #fff;
        z-index: 4;
        position: relative;
        //transition: 1s ease all;

        svg {
          fill: $color-accent;
          //transition: 1s ease all;
        }
      }
    }

  }

  h2 {
    position: relative;
    z-index: 10;
    //transition: 1s ease-in-out color;
    @include typography-h6;
    margin-bottom: 18px;

    @include laptop {
      margin-bottom: 12px;
    }

    @include mobile-md {
      margin-bottom: 8px;
    }
  }

  p {
    @include typography-txt;
    z-index: 10;
    position: relative;
    //transition: .1s ease-in-out color;
  }

  svg {
    //transition: 1s ease-in-out all;
  }

}

.advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: $color-accent;

  @include laptop {
    margin-bottom: 21px;
  }

  @include mobile-md {
    margin-bottom: 10px;
  }

  svg {
    fill: $color-contrast;
  }
}
