.advantages {
  padding-bottom: 30px;

  @include laptop {
    padding-top: 35px;
    padding-bottom: 52px;
  }

  @include mobile-md {
    padding-top: 0;
    padding-bottom: 60px;
  }
}

.advantages__wrapper {
  @include make-block-wrapper;
  padding-left: calc(var(--indent) - 20px);
  padding-right: calc(var(--indent) - 20px);

  @include laptop {
    padding-left: calc(var(--indent) - 10px);
    padding-right: calc(var(--indent) - 10px);
  }

  @include mobile-sm {
    padding: 0
  }
}

.advantages__list {
  @include no-list;
  display: flex;
  flex-wrap: wrap;

  .pseudo--1 {
    width: 400px;
    height: 400px;
    background: #847BB9;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: -10px;
    opacity: 0;
    transition: .1s ease-in all;
    transform: translate(70%, 70%);
    will-change: transform;

  }

  .pseudo--2 {
    width: 510px;
    height: 510px;
    background: #8A82BE;
    border-radius: 50%;
    position: absolute;
    bottom: 55px;
    right: 75px;
    z-index: 1;
    transform: translate(70%, 70%);
    opacity: 0;
    transition: .1s ease-in all;
    will-change: transform;

  }

  .pseudo--3 {
    width: 670px;
    height: 670px;
    background: #958ec3;
    bottom: 90px;
    right: 130px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    opacity: 0;
    transform: translate(70%, 70%);
    transition: 0.1s ease-in all;
    will-change: transform;
  }

  li {
    width: calc(100% / 3 - 40px);
    margin: 20px;
    box-shadow: 0 2px 20px rgba(152, 136, 196, 0.16);
    padding: 30px 20px 30px;
    overflow: hidden;
    position: relative;

    @include laptop {
      width: calc(100% / 3 - 20px);
      margin: 10px;
    }

    @include tablet {
      width: calc(100% / 2 - 20px);
    }

    @include mobile-sm {
      width: 100%;
      margin: 10px 0;
    }

    &:hover {
      background: #AEA8D2;

      .pseudo--1 {
        transform: translate(60%, 60%);
        opacity: 1;
        z-index: 3;
        transition: 0.7s ease all;
      }

      .pseudo--2 {
        opacity: 0.8;
        transform: translate(60%, 60%);
        z-index: 2;
        transition: 0.7s ease all;
      }

      .pseudo--3 {
        opacity: 0.6;
        transform: translate(60%, 60%);
        z-index: 1;
        transition: 0.7s ease all;
      }

      p {
        color: #fff;
      }

      h2 {
        color: #fff
      }

      .advantages__icon {
        background: #fff;
        z-index: 4;
        position: relative;

        svg {
          stroke: $color-accent;
        }
      }
    }
  }

  h2 {
    position: relative;
    z-index: 10;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 18px;

    @include laptop {
      margin-bottom: 12px;
      font-size: 18px;
    }

    @include mobile-md {
      margin-bottom: 8px;
    }
  }

  p {
    @include typography-txt;
    z-index: 10;
    position: relative;

    @include laptop {
      font-size: 14px;
    }
  }
}

.advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: $color-accent;

  &--accent {
    display: none;
  }

  svg {
    fill: none;
    width: 41px;
    height: 41px;
    stroke: #fff;
  }
}
