.blog {
  padding-top: 80px;
  padding-bottom: 80px;

  @include mobile-md {
    padding-bottom: 55px;
    padding-top: 50px;
  }
}

.blog--main {
  padding-top: 20px;

  .blog__item {
    width: calc(100% / 3 - 40px);
    margin: 20px;

    @include tablet {
      width: calc(100% / 2 - 20px);
      margin: 10px;
    }
    @include mobile-sm {
      width: calc(100% - 20px);
    }
  }

  .blog__item:first-child {
    width: calc(100% - 40px);
    @include tablet {
      width: calc(100% - 20px);
    }

    .blog__img-box {
      @include col-7;
      min-height: 400px;
      padding-bottom: 0;

      @include laptop {
        min-height: 34vw;
      }

      @include tablet {
        padding-bottom: 0;
        min-height: 320px;
      }

      @include mobile-md {
        @include col-12;
        min-height: auto;
        height: 0;
        padding-bottom: 62.5%;
      }
    }

    .blog__text-box {
      @include col-5;
      padding: 40px 40px 20px;

      @include laptop {
        padding: 30px 30px 20px;
      }
      @include tablet {
        padding: 20px;
      }

      @include mobile-md {
        @include col-12;
      }
    }

    .blog__card {
      flex-direction: row;
      @include mobile-md {
        flex-wrap: wrap;
      }
    }

    .blog__text {
      font-weight: normal;
      font-size: 16px;
      line-height: 1.5;
    }

    .blog__card-title {
      font-size: 24px;
      line-height: 1.2;
      @include mobile-md {
        @include typography-h6;
        margin-bottom: 13px;
      }
    }
  }

  .blog__list {
    margin-left: -20px;
    width: calc(100% + 40px);
    justify-content: flex-start;

    @include mobile-md {
      width: calc(100% + 20px);
      margin-left: -10px;
    }
  }
}

.blog__wrapper {
  @include make-block-wrapper;
  padding-left: calc(var(--indent));
  padding-right: calc(var(--indent));
}

.blog__text {
  @include typography-txt-sm;
  color: $color-base;
  display: block;

  &:not(#_) {
    margin-bottom: 35px;
  }
}

.blog__date {
  color: $color-gray-light;
  margin-top: auto;
  font-size: 14px;
  margin-bottom: 0;
}

.blog__title {
  @include typography-h2;
  margin-bottom: 30px;
}

.blog__card-title {
  @include typography-h6;
  margin-bottom: 21px;
  letter-spacing: -0.005em;

  @include laptop {
    margin-bottom: 31px;
  }

  @include mobile-md {
    margin-bottom: 13px;
  }

  color: $color-base;
  display: -webkit-box !important;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: 3 !important;
  overflow: hidden !important;
}

.blog__list {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-between;
}

.blog__item {
  display: flex;
  width: calc((100% / 3) - 20px);
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(47, 27, 73, 0.12), 0 1px 1px rgba(47, 41, 64, 0.08);

  &.invisible {
    display: none;
  }

  @include tablet {
    width: calc((100% / 3) - 10px);
  }

  @include mobile-md {
    width: calc((100% / 2) - 10px);
  }

  @include mobile-sm {
    width: 100%;
  }
}

.blog__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  background-color: $color-contrast;
  border: 1px solid $color-accent-light;
  border-radius: 2px;
  transition: box-shadow $transition-props;

  &:hover,
  &:focus {
    box-shadow: 0 4px 12px rgba(47, 27, 73, 0.12),
    0 1px 1px rgba(47, 41, 64, 0.08);
  }
}

.blog__img-box {
  position: relative;
  height: 0;
  padding-bottom: 62.5%;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    object-fit: cover;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.blog__text-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  @include laptop {
    padding-top: 22px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
  }

  @include mobile-md {
    min-height: 160px;
    padding-top: 17px;
    padding-bottom: 21px;
    padding-right: 18px;
    padding-left: 18px;
  }
}

.blog__text-info {
  @include typography-txt-sm;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  color: $color-gray-light;
  fill: $color-gray-light;

  @include laptop {
    font-size: 12px;
    line-height: 20px;
  }

  @include mobile-md {
    font-size: 14px;
    line-height: 20px;
  }

  p {
    margin: 0;
  }

  div {
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 5px;

    @include laptop {
      margin-right: 13px;
    }

    @include mobile-md {
      margin-right: 5px;
    }
  }
}