.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  text-decoration: none;
  border-radius: 2px;

  &--white {
    background-color: $color-contrast;
    border: 1px solid $color-accent-light;
    transition: box-shadow $transition-props;
    box-shadow: $shadow-card;
    border-top: 3px solid $color-accent-mid;
    padding: 30px;

    img {
      position: absolute;
      top: 16px;
      right: 20px;
      width: 60px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  &--outline {
    text-decoration: none;
    border: 1px solid $color-accent-light;
    border-radius: 2px;
    transition: box-shadow $transition-props;
    background: $color-contrast;

    &:hover,
    &:focus {
      box-shadow: $shadow-card;
    }

    .wrap--up {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid $color-accent-light;
    }

    .wrap--mid {
      padding: 20px;

      p {
        margin-top: 0;
      }
    }

    .wrap--bot {
      padding: 0 20px 20px;
      margin-top: auto;

      a {
        font-size: var(--txt-sm-size);
        line-height: var(--txt-sm-lh);
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  &--support {
    padding: 30px 40px;
    @include tablet {
      padding: 30px;
    }

    @include mobile-md {
      padding: 20px
    }

    .card__sub {
      @include typography-txt;
      margin-top: 0;
    }

    .card__title {
      @include typography-h3;
      margin-top: 0;
    }
  }

  &--dark {
    background: $bg-sand;

    .card__sub {
      margin-top: 20px;
    }
  }

  &--security {
    padding: 0 20px 0 10px;
    img {
      width: 80px;
      display: block;
      margin-top: 10px;
    }

    p {
      min-height: 72px;
      margin-top: 0;
      @include tablet{
        min-height: auto;
      }
    }

    h4 {
      position: relative;
      padding-left: 28px;
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: 500;
      margin-left: - 30px;

      &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 0;
        width: 16px;
        height: 16px;
        background-image: url("../img/library/check-round.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
  }

  &--download {
    background-color: $color-contrast;
    transition: box-shadow $transition-props;
    box-shadow: $shadow-card;
    border-radius: 2px;
    padding-bottom: 20px;
    min-height: 330px;

    .card__title {
      @include typography-txt;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      margin-top: 20px;
    }

    .card__button {
      margin: auto;
      margin-bottom: 0;
      min-width: 0;
      width: calc(100% - 40px)
    }

    .card__icon {
      text-align: center;
    }

    .card__qr {
      text-align: center;

      svg {
        width: 100%;
        display: block;
      }
    }

    .card__link {
      @include typography-txt-sm;
      margin-top: auto;
      text-align: center;
    }

    .card__select {
      margin: auto;
      margin-bottom: 15px;
      width: calc(100% - 40px);
    }

    .card__select + .card__link {
      margin-top: 0;
    }
  }
}