.compliance {
  padding-bottom: 75px;

  &__list {
    @include no-list;

    display: flex;
    flex-wrap: wrap;

    @include laptop {
      margin-bottom: 43px;
    }

    @include tablet {
      flex-direction: column;
    }

    @include mobile-md {
      margin-bottom: 0;
    }
  }

  &__list-item {
    position: relative;
    width: calc(100% / 2 - 22px);
    margin-top: 35px;

    @include laptop {
      width: 48%;
      padding-left: 0;
    }

    @include tablet {
      width: 100%;
    }

    &:nth-child(odd) {
      margin-right: auto;

      @include tablet {
        margin-bottom: 25px;
      }
    }


    h3 {
      @include typography-h5;
      margin-bottom: 14px;

      @include laptop {
        margin-bottom: 17px;
      }

      @include tablet {
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 31px;
      }
    }

    p {
      @include typography-txt;
      margin-bottom: 22px;
      &:nth-child(2){
        margin-bottom: 0;
      }

    }
  }

  &__listbox {
    @include no-list;

    @include tablet {
      padding-left: 0;
    }

    li {
      @include typography-list-compact;

      &:not(:first-child) {
        margin-top: 30px;
      }
    }

    b {
      font-weight: 500;
    }
  }

  &__sub {
    @include typography-h4;
    max-width: 790px;
    margin-top: 20px;
  }

  &__title {
    @include typography-h2;
    letter-spacing: -0.005em;
  }

  &__link {
    &--more {
      margin-top: 50px;
    }
  }

  .wrap {
    &--img {
      @include gap-sm;
      padding-left: 28px;
      flex-wrap: wrap;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .col {
        @include row;
        @include col-auto;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    &--txt {
      width: 82%;
      margin-left: 15px;
    }

    &--preview {
      width: 100%;
      flex-grow: 1;
      justify-content: center;
      background: $color-contrast;
      border: 1px solid $color-accent-light;

      img {
        max-width: 84px;
      }
    }

    &--link {
      margin: 5px 0 10px;
    }
  }
}
