.cta {
  padding: 80px;
  @include mobile-md {
    padding-left: 0;
    padding-right: 0;
  }

  @include mobile-sm {
    padding-top: 45px;
    padding-bottom: 50px;
  }

  .button {
    @include mobile-sm {
      width: 100%;
    }
  }

  &--purple {
    @include mobile-sm {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--lilac {
    @include mobile-sm {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--form {
    padding-top: 90px;
    padding-bottom: 95px;
    @include mobile-sm{
      padding-bottom: 60px;
      padding-top: 60px;
    }
  }

  &__title {
    @include typography-h2;
    width: 80%;
    text-align: center;
    margin-bottom: 30px;

    &--sm {
      @include typography-h3;
      font-size: 32px;
      margin-bottom: 20px;
    }

    @include mobile-md {
      margin-bottom: 20px;
    }
    @include mobile-sm {
      font-size: 6.8vw;
      width: 190%;
      line-height: 1.2;
      margin-left: -10vw;
      margin-right: -10vw;
    }
    @include mobile-xxs {
      font-size: 21px;
    }
  }

  &__sub {
    @include typography-subhead;
    font-weight: 400;

    margin-bottom: 30px;

    @include mobile-md {
      margin-bottom: 20px;
    }
  }
}

