.cta {
  padding: 70px;
  @include mobile-md {
    padding-left: 0;
    padding-right: 0;
  }

  &--purple {
    @include mobile-sm {
      padding-left: 0;
      padding-right: 0;
      padding: 40px;
    }
  }

  &--form {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  &__title {
    @include typography-h2;
    width: 80%;
    text-align: center;
    margin-bottom: 30px;

    @include mobile-md {
      margin-bottom: 20px;
    }
    @include mobile-sm {
      width: 100%;
    }
  }

  &__subh {
    @include typography-subhead;

    margin-bottom: 30px;

    @include mobile-md {
      margin-bottom: 20px;
    }
  }
}

