.feedback {
  .wrap {
    &--main {
      @include gap-lg;
      @include mobile-md {
        @include gap-no;
        flex-wrap: wrap;
      }

      .col {
        &--left {
          width: calc(100% / 12 * 7);

          @include tablet {
            width: 100%;
          }
          @include mobile-md {
            margin-top: 30px;
          }
        }

        &--right {
          width: calc(100% / 12 * 4.8);

          @include tablet {
            width: 100%;
          }
          @include mobile-md {
            margin-top: 0;
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}