.field-textarea {
  width: 100%;
  color: $color-gray-dark;

  label {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  textarea {
    width: 100%;
    min-height: 180px;
    font-size: 21px;
    padding: 12px 14px;
    line-height: 24px;
    appearance: none;
    color: inherit;
    border: 1px solid $color-gray-light;
    border-radius: 2px;
    background-color: inherit;
    transition: border $transition-props;
    resize: none;
    @include mobile-xs {
      min-height: 310px;
    }
  }

  textarea::placeholder {
    color: $color-base;
  }

  span {
    margin-bottom: 15px;
    font-size: 21px;
    line-height: 23px;
    letter-spacing: 0.275px;
    transition: color $transition-props;
    @include mobile-md{
      font-size: 18px;
    }
  }

  textarea:hover,
  textarea:focus {
    color: $color-base;
    outline: 0;
    border: 1px solid $color-accent;
  }

  textarea:hover + span,
  textarea:focus + span {
    color: $color-accent;
  }
}
