.filed-checkbox {
  label {
    display: flex;
    align-items: center;
  }

  input {
    cursor: pointer;
    appearance: none;
  }

  span {
    @include typography-txt;
    position: relative;
    padding-left: 44px;
    cursor: pointer;
    transition: color $transition-props;

    @include mobile-md {
      padding-left: 41px;
      font-size: 14px;
      line-height: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 32px;
      height: 32px;
      background-color: $color-contrast;
      border: 1px solid $color-gray-light;
      border-radius: 2px;
    }
  }

  input:hover + span,
  input:focus + span {
    color: $color-accent;

    &::before {
      border: 1px solid $color-accent;
    }
  }

  input:checked + span {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 32px;
      height: 32px;
      background-color: $color-accent;
      background-image: url("../img/library/check.svg");
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid $color-accent;
      border-radius: 2px;
    }
  }
}
