.form {
  .form__title {
    @include typography-h2;
    margin-bottom: 40px;
    letter-spacing: -0.005em;

    @include mobile-md {
      margin-bottom: 25px;
    }
  }

  .submit__icon {
    display: none;
    width: 25px;
    height: 25px;
    margin-left: 15px;

    &--absolute {
      position: absolute;
      bottom: 50%;
      right: 0;
      transform: translateX(-20px) translateY(50%);
      margin-left: 0;
    }

    &--light {
      filter: invert(1) contrast(1.5) grayscale(1) brightness(1.5);
    }
  }

  .wrap--message {
    position: relative;
    @include mobile-sm {
      margin-top: 40px;
      width: 100%;
    }
  }

  .submit__message {
    @include typography-txt-sm;
    display: none;
    color: $color-gray-light-1;
    margin-left: 30px;

    &--absolute {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(calc(100% + 10px));
      text-align: center;
      width: 100%;
      margin-left: 0;
    }
  }

  .submit-started {
    .submit__icon {
      display: block;
    }

    .button {
      cursor: not-allowed;
    }
  }

  .submit-over {
    .submit__message {
      display: block;
    }

    .submit__icon {
      display: none;
    }
  }
}

.form--cta {
  width: 600px;
  margin: auto;

  @include mobile-md {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .form__content {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .form__button {
    min-width: 170px;
    @include mobile-sm {
      margin-top: 50px;
      width: 100%;
    }
  }

  .form__row {
    display: flex;
    width: 100%;
    align-items: flex-end;
    @include mobile-sm {
      flex-wrap: wrap;
    }
  }

  .form__input-text-wrap {
    width: 100%;
  }

  .form__field {
    flex-direction: column-reverse;
    display: flex;
    margin-right: 40px;
    @include mobile-sm {
      margin-right: 0;
    }

    input {
      padding-top: 6px;
      padding-bottom: 12px;
      padding-right: 12px;
      font-size: 21px;
      line-height: 27px;
      letter-spacing: 0.275px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $color-accent-mid-1;
      background-color: transparent;
      appearance: none;
      transition: border-bottom $transition-props;
      width: 100%;

      @include mobile-md {
        padding-top: 14px;
        padding-bottom: 14px;
        font-size: 18px;
        line-height: 23px;
      }
    }

    label {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: $color-accent;
      opacity: 0;
      transition: opacity $transition-props;
    }

    input:hover,
    input:focus {
      outline: none;
      border-bottom: 1px solid $color-accent-mid-1;
    }

    input:focus + label {
      opacity: 1;
    }

    input:not(:placeholder-shown) + label {
      opacity: 1;
    }

    input::placeholder {
      color: $color-gray-dark;
    }

    input:focus::placeholder {
      color: transparent;
    }
  }
}

.form--main, .form--feedback {
  padding-top: 101px;
  padding-bottom: 81px;

  @include laptop {
    padding-top: 82px;
  }

  @include mobile-md {
    padding-top: 55px;
    padding-bottom: 51px;
  }
}

.form--main {
  &.form--modal {
    width: 100%;
    max-width: 1220px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    box-shadow: 0 4px 12px rgba(47, 27, 73, 0.25),
    0 1px 1px rgba(47, 41, 64, 0.08);
    border-radius: 4px;

    @include laptop {
      max-width: 944px;
    }

    @include tablet {
      max-width: 100%;
      height: 100%;
      min-height: 100vh;
      border-radius: 0;
    }
  }

  .form__wrapper {
    @include make-block-wrapper;
    padding-left: var(--indent);
    padding-right: var(--indent);
  }

  .form__wrapper--modal {
    padding-top: 86px;
    padding-bottom: 89px;
    padding-left: 105px;
    padding-right: 105px;
    background-color: $color-contrast;
    border-radius: 4px;

    @include laptop {
      padding-top: 59px;
      padding-bottom: 64px;
      padding-left: 80px;
      padding-right: 80px;
    }

    @include tablet {
      padding-left: 40px;
      padding-right: 40px;
      min-height: 100vh;
    }

    @include mobile-md {
      padding-top: 48px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .form__title--modal {
    @include typography-h1;
    margin-bottom: 47px;
    letter-spacing: -0.01em;

    @include laptop {
      margin-bottom: 36px;
    }

    @include mobile-md {
      font-size: 36px;
      line-height: 40px;
    }
  }

  .form__input-text-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @include mobile-md {
      flex-direction: column;
    }
  }

  .form__checkbox-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    @include laptop {
      margin-bottom: 47px;
    }

    @include mobile-md {
      margin-bottom: 35px;
    }
  }

  .form__form-field {
    display: flex;
    max-width: 484px;
    width: calc(50% - 20px);
    margin-right: 145px;

    @include laptop {
      max-width: none;
      width: calc(50% - 2.5%);
      margin-right: 4%;
    }

    @include mobile-md {
      width: 100%;
      margin-right: 0;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .form__form-field--modal {
    max-width: 470px;
    width: calc(50% - 40px);
    margin-right: 60px;

    @include laptop {
      max-width: none;
      width: calc(50% - 2.5%);
      margin-right: 4.5%;
    }

    @include mobile-md {
      width: 100%;
      margin-right: 0;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .form__form-field--textarea {
    flex-direction: column-reverse;

    label {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: $color-accent;
      opacity: 0;
      transition: opacity $transition-props;
      margin-bottom: 5px;
      margin-top: 25px;
    }

    textarea {
      min-height: 270px;
      width: 100%;
      max-width: 100%;
      padding: 20px;
      @include mobile-xs {
        min-height: 400px;
      }
    }

    textarea:hover,
    textarea:focus {
      outline: none;
      border: 1px solid $color-accent;
    }

    textarea:focus + label {
      opacity: 1;
    }

    textarea:not(:placeholder-shown) + label {
      opacity: 1;
    }

    textarea::placeholder {
      color: $color-gray-dark;
    }

    textarea:focus::placeholder {
      color: transparent;
    }

    textarea:invalid {
      outline: none;
      box-shadow: none;
    }

    textarea.error {
      outline: 2px solid red;
    }
  }

  .form__form-field--text {
    flex-direction: column-reverse;

    input {
      padding-top: 6px;
      padding-bottom: 12px;
      padding-right: 12px;
      font-size: 21px;
      line-height: 27px;
      letter-spacing: 0.275px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $color-gray-light;
      background-color: $color-contrast;
      appearance: none;
      transition: border-bottom $transition-props;

      @include mobile-md {
        padding-top: 14px;
        padding-bottom: 14px;
        font-size: 18px;
        line-height: 23px;
      }
    }

    label {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: $color-accent;
      opacity: 0;
      transition: opacity $transition-props;
    }

    select {
      padding-top: 6px;
      padding-bottom: 13px;
      padding-right: 25px;
      font-size: 21px;
      line-height: 27px;
      letter-spacing: 0.275px;
      color: $color-gray-dark;
      background-color: $color-contrast;
      background-image: url("../img/library/arrow-select.svg");
      background-repeat: no-repeat;
      background-position: right 5px center;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $color-gray-light;
      cursor: pointer;
      appearance: none;
      transition: border-bottom $transition-props;

      @include mobile-md {
        padding-top: 14px;
        padding-bottom: 14px;
        font-size: 18px;
        line-height: 23px;
      }
    }

    option {
      font-weight: 400;
    }

    input:hover,
    input:focus {
      outline: none;
      border-bottom: 1px solid $color-accent;
    }

    input:focus + label {
      opacity: 1;
    }

    input:not(:placeholder-shown) + label {
      opacity: 1;
    }

    input::placeholder {
      color: $color-gray-dark;
    }

    input:focus::placeholder {
      color: transparent;
    }

    select:hover,
    select:focus {
      outline: none;
      color: $color-base;
      border-bottom: 1px solid $color-accent;
    }

    select:focus + label {
      opacity: 1;
    }

    select:valid {
      color: $color-base;
    }

    select:valid + label {
      opacity: 1;
    }

    input:invalid,
    select:invalid {
      outline: none;
      box-shadow: none;
    }

    input.error,
    select.error {
      outline: 2px solid red;
    }
  }

  .form__form-field--checkbox {
    flex-direction: row;
    align-items: center;
    min-height: 33px;

    @include mobile-md {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    input {
      cursor: pointer;
      appearance: none;
    }

    label {
      @include typography-txt;
      position: relative;
      padding-left: 44px;
      cursor: pointer;
      transition: color $transition-props;

      @include mobile-md {
        padding-left: 41px;
        font-size: 14px;
        line-height: 18px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        background-color: $color-contrast;
        border: 1px solid $color-gray-light;
        border-radius: 2px;
      }
    }

    input:hover + label,
    input:focus + label {
      color: $color-accent;

      &::before {
        border: 1px solid $color-accent;
      }
    }

    input:checked + label {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        background-color: $color-accent;
        background-image: url("../img/library/check.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid $color-accent;
        border-radius: 2px;
      }
    }
  }

  .form__form-field--fw {
    width: 100%;
    max-width: calc(484px * 2 + 145px);
    margin-right: 0;
    @include laptop {
      max-width: 100%;
    }
  }

  .form__form-field--s {
    margin-bottom: 45px;

    @include laptop {
      margin-bottom: 44px;
    }

    @include mobile-md {
      margin-bottom: 38px;
    }
  }

  .form__form-field--m {
    margin-bottom: 37px;

    @include laptop {
      margin-bottom: 54px;
    }

    @include mobile-md {
      margin-bottom: 30px;
    }
  }

  .form__form-field--2 {
    @include mobile-md {
      order: 1;
    }
  }

  .form__form-field--3 {
    @include mobile-md {
      order: 2;
    }
  }

  .form__form-field--4 {
    @include mobile-md {
      order: 3;
      margin-bottom: 26px;
    }
  }

  .form__form-field--5 {
    @include mobile-md {
      order: 4;
    }
  }

  .form__close-button {
    @include reset-button;
    @include interactive-opacity;

    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    cursor: pointer;

    outline: none;

    &::before {
      content: "";

      display: block;
      width: 20px;
      height: 20px;

      background-image: url("../img/header/close-menu.svg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .form__form-field--file {
    display: flex;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;

    label {
      cursor: pointer;
    }

    .icon {
      border-radius: 50%;
      margin-right: 10px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $bg-gray;
      box-shadow: 0 2px 4px rgba(47, 27, 73, 0.08), 0 1px 1px rgba(47, 41, 64, 0.1);
    }
  }
}

.form--feedback {
  padding-top: 0;

  .form__content {
    width: 100%;
  }

  .form__form-field {
    margin-right: 0;
    width: 100%;
    max-width: 100%;
    @include mobile-md {
      order: 1
    }
  }

  .form__wrapper {
    padding: 0;
  }

  .form__form-field--fw {
    width: 100%;
    max-width: calc(484px * 2 + 145px);
    margin-right: 0;
    margin-top: 20px;
    @include laptop {
      max-width: 100%;
    }
    @include mobile-md {
      order: 2;
    }
  }
}

.form--career {
  .form__sub {
    @include typography-subhead;
    font-weight: 400;
    max-width: 900px;
    color: $color-gray-dark;
    margin-bottom: 20px;
    margin-top: -15px;
  }

  .form__checkbox-wrap {
    flex-wrap: nowrap;
    white-space: nowrap;
    @include mobile-md {
      flex-wrap: wrap;
      white-space: initial;
    }
  }

  .form__form-field--file {
    svg:nth-child(2),
    svg:nth-child(3) {
      display: none;
    }

    label {
      display: flex;
      align-items: center;
      font-weight: 500;

      &.is-file {
        svg:nth-child(1) {
          display: none;
        }

        svg:nth-child(2) {
          display: block;
        }

        &:hover {
          svg:nth-child(3) {
            display: block;
          }

          svg:nth-child(2) {
            display: none;
          }
        }
      }
    }

    @include mobile-md {
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid $color-gray-light-1;
      width: 100%;
      margin-right: 0;
    }
  }

  .form__form-field--checkbox {
    @include laptop {
      width: 100%;
    }
  }
}