.functions {
  padding-top: 80px;
  padding-bottom: 29px;
  overflow: hidden;

  @include laptop {
    padding-bottom: 42px;

  }

  @include mobile-md {
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.functions__wrapper {
  @include make-block-wrapper;
  padding-left: calc(var(--indent) - 40px);
  padding-right: calc(var(--indent) - 40px);

  @include mobile-md {
    padding-left: 0;
    padding-right: 0;
  }
}

.functions__title {
  @include typography-h2;
  margin-bottom: 38px;
  padding-left: 40px;
  padding-right: 40px;

  @include laptop {
    margin-bottom: 28px;
  }

  @include mobile-md {
    margin-bottom: 32px;
    padding-left: var(--indent);
    padding-right: var(--indent);
  }
}
