.hero {
  &--main {
    overflow: hidden;

    .hero__wrapper {
      @include make-block-wrapper;
      display: flex;
      padding-left: var(--indent);
      padding-right: var(--indent);
      align-items: center;
    }

    .hero__title {
      @include typography-h1;
      letter-spacing: -0.01em;
      margin-top: -5px;
    }

    .hero__button {
      margin-top: 30px;
    }

    .hero__text {
      @include typography-subhead;
      line-height: 1.4;
      margin-top: 35px;
      margin-bottom: 25px;
    }

    .hero__img {
      @include pseudo-absolute;
      width: 100%;
      position: relative;
      margin: 0 auto;

      img {
        position: relative;
        z-index: 2;
        display: block;
        width: 100%;
      }
    }

    .hero__left {
      margin-right: auto;
    }

    .hero__right {
      position: relative;
    }
  }

  &--reverse {
    .hero__left {
      @include mobile-md {
        margin-top: 50px;
      }
    }

    .hero__wrapper {
      @include mobile-md {
        flex-direction: column-reverse;
      }
    }
  }

  &--homepage {
    padding-bottom: 50px;
    padding-top: 115px;
    @include mobile-sm {
      padding-top: 90px;
    }

    .hero__left {
      margin-top: -20px;
      max-width: 400px;

      @include mobile-md {
        width: calc(50% - 10px) !important;
        margin-top: 0;
      }
      @include mobile-sm {
        width: calc(100% - 10px) !important;
      }
    }

    .hero__right {
      width: 60.5%;
      @include mobile-md {
        width: 100%;
        margin-bottom: 50px;
      }
    }

    .hero__img {
      &::before {
        left: -9%;
        bottom: -4%;
        width: 62%;
        height: 45%;
        background-size: 100%;
        background-image: url("../img/pattern-2.svg");

        @include laptop {
          width: 60%;
          height: 65%;
          max-width: 400px;
          max-height: 200px;
        }
        @include mobile-md {
          background-size: 150%;
        }
        @include mobile-sm {
          background-size: 200%;
          bottom: -10%;
          width: 70%;
          height: 75%;
        }
      }

      &::after {
        right: 0;
        top: -15%;
        bottom: auto;
        width: 36%;
        height: 0;
        padding-bottom: 27%;
        background-size: 100%;
        background-image: url("../img/pattern-1.svg");

        @include mobile-md {
          width: 60%;
          height: 50%;
          max-width: 400px;
          max-height: 200px;
          background-size: 100%;
          transform: translate(24%, -40%);
        }
        @include mobile-sm {
          background-size: 150%;
          right: -10%;
          top: 0;
          width: 70%;
          padding-bottom: 50%;
        }
      }
    }

    .hero__title {
      font-size: 64px;
      @include tablet {
        @include typography-h1;
      }
      @include mobile-md {
        @include typography-h1;
        margin-bottom: 10px;
      }
    }
  }

  &--download {
    padding-bottom: 150px;
    @include mobile-sm {
      padding-bottom: 0;
    }

    .hero__title {
      span {
        display: inline;
      }

      @include mobile-sm {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    .hero__img {
      width: 100%;

      @include tablet {
        position: relative;
        margin: 0 auto;

        @include mobile-md {
          width: calc(100% - (var(--indent) * 2));
          margin: 0 auto;
        }
      }

      img {
        position: relative;
        z-index: 2;
        display: block;
        width: 100%;
      }
    }

    .hero__wrapper {
      display: flex;
      flex-wrap: nowrap;

      @include tablet {
        padding-left: 0;
        padding-right: 0;
        max-width: none;
      }
      @include mobile-sm {
        flex-wrap: wrap;
      }
    }

    .hero__left {
      min-width: 30%;
      margin-right: auto;
      padding-right: 90px;
      padding-top: 100px;

      @include laptop {
        padding-right: 10px;
      }

      @include tablet {
        min-width: 50%;
        margin-bottom: 60px;
        margin-left: var(--indent);
      }

      @include mobile-md {
        padding-right: 0;
        width: calc(100% - (var(--indent) * 2));
      }

      @include mobile-sm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        margin-bottom: 30px;
      }
    }

    .hero__right {
      min-width: 60%;
      padding-top: 90px;
      padding-bottom: 70px;
      @include mid {
        margin-right: calc(var(--indent) * -1);
        min-width: 90%;
      }

      @include tablet {
        position: relative;
        padding-bottom: 55px;
      }

      @include mobile-sm {
        position: relative;
        padding-bottom: 0;
        padding-top: 0;
        min-width: 100%;
      }
    }

    .hero__text {
      @include typography-txt-sm;
      color: $color-gray-light;
      margin-top: 20px;
      @include mobile-sm {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    .hero__link {
      margin-top: 40px;
      display: block;
      @include mobile-md {
        margin-top: 20px;
      }
    }
  }

  &--career,
  &--security,
  &--career,
  &--integrations {
    overflow: hidden;
    padding-top: 75px;
    padding-bottom: 135px;

    @include laptop {
      padding-top: 90px;
    }

    @include mobile-md {
      padding-top: 55px;
      padding-bottom: 50px;
    }

    @include mobile-sm {
      padding-top: 50px;
    }

    .hero__title {
      margin-bottom: 0;
      line-height: 1.2;
    }

    .hero__left {
      width: 44%;
      padding-right: 0;

      @include tablet {
        width: 45%;
      }
      @include mobile-md {
        width: 70%;
        margin: 0;
      }
      @include mobile-sm {
        width: 100%;
      }
    }

    .hero__right {
      width: 49%;
      @include mobile-md {
        width: 100%;
        padding-bottom: 100px;
      }
      @include mobile-sm {
        width: 100%;
        padding-bottom: 30px;
      }
    }

    .hero__wrapper {
      @include mobile-md {
        flex-wrap: wrap;
      }
    }

    .hero__img {
      position: relative;
      @include mobile-md {
        margin: auto;
        margin-top: 70px;
        width: 100%;
        max-width: 600px;
      }

      &::before {
        left: -10%;
        bottom: -25%;
        width: 75%;
        height: 55%;
        background-size: 110%;
        background-image: url("../img/pattern-2.svg");
        @include laptop {
          width: 60%;
          height: 75%;
          max-width: 400px;
          max-height: 200px;
        }
        @include mobile-sm {
          background-image: url("../img/pattern-1.svg");
          background-size: 130%;
          bottom: -20%;
          width: 70%;
          left: -30%;
          height: 75%;
        }
      }

      &::after {
        right: -20%;
        top: -10%;
        width: 50%;
        height: 50%;
        background-size: 100%;
        background-image: url("../img/pattern-1.svg");
        background-repeat: no-repeat;
        @include laptop {
          width: 55%;
          height: 55%;
        }
        @include mobile-md {
          width: 60%;
          height: 50%;
          max-width: 400px;
          max-height: 200px;
          background-size: 100%;
          transform: translate(24%, -40%);
        }
        @include mobile-sm {
          background-size: 110%;
          width: 70%;
          height: 75%;
          top: 10%;
          right: -5%;
        }
      }
    }
  }

  &--404 {
    height: 100%;

    .button {
      @include mobile-sm {
        width: 100%;
      }
    }

    .hero__wrapper {
      height: 100%;
      @include mobile-sm {
        flex-wrap: wrap;
      }
    }

    .hero__left {
      padding-right: 0;

      @include mobile-sm {
        margin-top: 50px;
      }

      h1 {
        @include tablet {
          font-size: 3.65vw;
          line-height: 1.1;
        }
        @include mobile-sm {
          font-size: 36px;
          padding-right: 33vw;
        }
        @include mobile-xs {
          padding-right: 0;
        }
      }

      p {
        @include tablet {
          font-size: 2.1vw;
          line-height: 1.5;
        }
        @include mobile-sm {
          padding-right: 33vw;
          font-size: 16px;
          margin-bottom: 52px;
          margin-top: 30px;
        }
        @include mobile-xs {
          padding-right: 0;
        }
      }
    }

    .hero__img {
      @include mobile-sm {
        width: 100%;
      }
    }

    .hero__right {
      width: 50%;
      min-width: 600px;
      @include tablet {
        margin-right: -200px;
      }
      @include mobile-md {
        margin-top: -50px;
        margin-right: -170px;
        min-width: 80vw;
      }
      @include mobile-sm {
        width: 131%;
        position: relative;
        left: 50%;
        transform: translateX(-52%);
      }
    }
  }

}
