.hero {
  overflow: hidden;

  &__wrapper {
    @include make-block-wrapper;
    display: flex;
    align-items: center;
    padding-left: var(--indent);
    padding-right: var(--indent);
  }

  &__title {
    @include typography-h1;
    margin-bottom: 28px;
    letter-spacing: -0.01em;

    @include mobile-md {
      margin-bottom: 10px;
    }
  }

  &__text {
    @include typography-subhead;

    &:not(:last-child) {
      margin-bottom: 30px;

      @include mobile-md {
        margin-bottom: 20px;
      }
    }
  }

  &--main {
    .hero__img {
      width: 100%;
      @include tablet {
        position: relative;
        max-width: 684px;
        margin: 0 auto;
        &::before {
          content: "";
          position: absolute;
          top: -25px;
          left: -40px;
          width: 109px;
          height: 109px;
          background-image: url("../img/bg-hero-square.svg");
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 109px 109px;
        }
      }

      @include mobile-md {
        width: calc(100% - (var(--indent) * 2));
        margin: 0 auto;
      }

      img {
        position: relative;
        z-index: 2;
        display: block;
        width: 100%;
      }
    }

    .hero__wrapper {
      @include tablet {
        flex-direction: column-reverse;
        padding-left: 0;
        padding-right: 0;
      }
    }

    .hero__left {
      width: 40%;
      margin-right: auto;
      padding-right: 90px;

      @include laptop {
        padding-right: 10px;
      }

      @include tablet {
        width: calc(100% - (var(--indent) * 2));
        margin-bottom: 60px;
        margin-left: var(--indent);
        margin-right: var(--indent);
        padding-right: 35%;
        &::after {
          content: "";
          position: absolute;
          top: 34px;
          right: -29px;
          width: 80px;
          height: 80px;
          background-image: url("../img/bg-hero-round-s.svg");
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 80px 80px;
        }
      }

      @include mobile-md {
        padding-right: 0;
      }
    }

    .hero__right {
      width: 56%;
      padding-top: 90px;
      padding-bottom: 75px;

      @include laptop {
        padding-top: 100px;
        padding-bottom: 103px;
      }

      @include tablet {
        position: relative;
        width: 100%;
        padding-bottom: 25px;
      }
    }
  }

  &--download {
    padding-bottom: 150px;
    @include mobile-sm {
      padding-bottom: 0;
    }

    .hero__title {
      @include mobile-sm {
        text-align: center;
      }
    }

    .hero__img {
      width: 100%;

      @include tablet {
        position: relative;
        margin: 0 auto;

        @include mobile-md {
          width: calc(100% - (var(--indent) * 2));
          margin: 0 auto;
        }
      }

      img {
        position: relative;
        z-index: 2;
        display: block;
        width: 100%;
      }
    }

    .hero__wrapper {
      display: flex;
      flex-wrap: nowrap;

      @include tablet {
        padding-left: 0;
        padding-right: 0;
        max-width: none;
      }
      @include mobile-sm {
        flex-wrap: wrap;
      }
    }

    .hero__left {
      min-width: 30%;
      margin-right: auto;
      padding-right: 90px;
      padding-top: 100px;

      @include laptop {
        padding-right: 10px;
      }

      @include tablet {
        min-width: 50%;
        margin-bottom: 60px;
        margin-left: var(--indent);
      }

      @include mobile-md {
        padding-right: 0;
        width: calc(100% - (var(--indent) * 2));
      }

      @include mobile-sm {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .hero__right {
      min-width: 60%;
      padding-top: 90px;
      padding-bottom: 70px;
      @include mid {
        margin-right: calc(var(--indent) * -1);
        min-width: 90%;
      }

      @include tablet {
        position: relative;
        padding-bottom: 55px;
      }

      @include mobile-sm {
        position: relative;
        padding-bottom: 0;
        padding-top: 0;
        min-width: 100%;
      }
    }

    .hero__text {
      @include typography-txt-sm;
      color: $color-gray-light;
      margin-top: 20px;
    }

    .hero__link {
      margin-top: 40px;
      display: block;
    }
  }

  &--security,
  &--career,
  &--integrations {
    overflow: hidden;

    .hero__left {
      width: 45%;
      padding-right: 0px;

      &::after {
        display: none;
      }
    }

    .hero__right {
      width: 50%;
    }

    .hero__img {

      position: relative;


      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
      }
    }

    @include tablet {
      .hero__wrapper {
        flex-direction: column;
      }
      .hero__right {
        padding-top: 0;
        width: calc(100% - (var(--indent) * 2));
      }
      .hero__left {
        width: calc(100% - (var(--indent) * 2));
        padding-top: 50px;
      }
      .hero__img {
        width: 100%;
      }
    }
  }

  &--career {
    .hero__img {
      &::before {
        background-image: url("../img/bg-hero-square-orange.svg");

        @include tablet {
          display: none;
        }
      }

      &::after {
        right: 0;
        top: 0;
        bottom: auto;
        width: 65%;
        padding-bottom: 26.5%;
        transform: translate(50%, -50%);
        background-size: 50%;
        background-image: url("../img/pattern.svg");

        @include tablet {
          left: 0;
          right: auto;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &--security {
    padding-bottom: 40px;

    .hero__img {
      &::before {
        left: 0;
        bottom: 0;
        top: auto;
        width: 400px;
        height: 200px;
        transform: translate(-33%, 33%);
        background-size: 70%;
        background-image: url("../img/pattern.svg");

        @include tablet {
          display: none;
        }
      }

      &::after {
        right: 0;
        top: 0;
        bottom: auto;
        width: 65%;
        padding-bottom: 26.5%;
        transform: translate(50%, -50%);
        background-size: 50%;
        background-image: url("../img/pattern.svg");


        @include tablet {
          left: 0;
          right: auto;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &--integrations {
    .hero__img {
      &::before {
        left: 0;
        bottom: 0;
        top: auto;
        width: 22%;
        padding-bottom: 22%;
        transform: translate(-33%, 33%);
        background-size: 100%;
        background-image: url("../img/bg-hero-square-orange.svg");
        @include tablet {
          left: auto;
          right: 0;
          top: 0;
          transform: translate(50%, -50%);
        }
      }
    }
  }
}
