.hero {
  overflow: hidden;

  &__wrapper {
    @include make-block-wrapper;
    display: flex;
    align-items: center;
    padding-left: var(--indent);
    padding-right: var(--indent);
  }

  &__title {
    @include typography-h1;
    margin-bottom: 28px;
    letter-spacing: -0.01em;

    @include mobile-md {
      margin-bottom: 10px;
    }
  }

  &__text {
    @include typography-subhead;

    &:not(:last-child) {
      margin-bottom: 30px;

      @include mobile-md {
        margin-bottom: 20px;
      }
    }
  }

  &--square-both {

  }

  &--reverse {
    .hero__left {
      @include mobile-md {
        margin-top: 50px;
      }
    }

    .hero__wrapper {
      @include mobile-md {
        flex-direction: column-reverse;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &--homepage {
    @include mobile-md {
      max-width: 684px;
    }

    .hero__img {
      &::before {
        left: -15%;
        bottom: -15%;
        width: 55%;
        height: 55%;
        background-size: 80%;
        background-image: url("../img/pattern.svg");
        @include laptop {
          width: 60%;
          height: 65%;
          max-width: 400px;
          max-height: 200px;
        }
        @include mobile-sm {
          background-size: 110%;
          bottom: -20%;
          width: 70%;
          height: 75%;
        }
      }

      &::after {
        right: -10%;
        top: -10%;
        bottom: auto;
        width: 43%;
        height: 55%;
        background-size: 75%;
        background-image: url("../img/pattern.svg");
        @include laptop {
          width: 55%;
          height: 55%;
        }
        @include mobile-md {
          width: 60%;
          height: 50%;
          max-width: 400px;
          max-height: 200px;
          background-size: 100%;
          transform: translate(24%, -40%);
        }
        @include mobile-sm {
          background-size: 110%;
          bottom: -20%;
          width: 70%;
          height: 75%;
        }
      }
    }

    .hero__title{
      font-size: 64px;
      @include tablet{
        @include typography-h1;
      }
      @include mobile-md{
        @include typography-h1;
        margin-bottom: 10px;
      }
    }
  }

  &--main {
    .hero__img {
      @include pseudo-absolute;
      width: 100%;
      position: relative;

      @include mobile-md {
        position: relative;
        margin: 0 auto;
        width: calc(100% - (var(--indent) * 2));
      }

      img {
        position: relative;
        z-index: 2;
        display: block;
        width: 100%;
      }
    }

    .hero__left {
      width: 40%;
      margin-right: auto;
      padding-right: 90px;

      @include laptop {
        padding-right: 10px;
      }

      @include mobile-md {
        width: calc(100% - (var(--indent) * 2));
        margin-left: var(--indent);
        margin-right: var(--indent);
        padding-right: 0;
      }
    }

    .hero__right {
      width: 56%;
      padding-top: 90px;
      padding-bottom: 75px;

      @include laptop {
        padding-top: 100px;
        padding-bottom: 103px;
      }

      @include mobile-md {
        position: relative;
        width: 100%;
        padding-bottom: 25px;
      }
    }
  }

  &--download {
    padding-bottom: 150px;
    @include mobile-sm {
      padding-bottom: 0;
    }

    .hero__title {
      span {
        display: inline;
      }

      @include mobile-sm {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    .hero__img {
      width: 100%;

      @include tablet {
        position: relative;
        margin: 0 auto;

        @include mobile-md {
          width: calc(100% - (var(--indent) * 2));
          margin: 0 auto;
        }
      }

      img {
        position: relative;
        z-index: 2;
        display: block;
        width: 100%;
      }
    }

    .hero__wrapper {
      display: flex;
      flex-wrap: nowrap;

      @include tablet {
        padding-left: 0;
        padding-right: 0;
        max-width: none;
      }
      @include mobile-sm {
        flex-wrap: wrap;
      }
    }

    .hero__left {
      min-width: 30%;
      margin-right: auto;
      padding-right: 90px;
      padding-top: 100px;

      @include laptop {
        padding-right: 10px;
      }

      @include tablet {
        min-width: 50%;
        margin-bottom: 60px;
        margin-left: var(--indent);
      }

      @include mobile-md {
        padding-right: 0;
        width: calc(100% - (var(--indent) * 2));
      }

      @include mobile-sm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        margin-bottom: 30px;
      }
    }

    .hero__right {
      min-width: 60%;
      padding-top: 90px;
      padding-bottom: 70px;
      @include mid {
        margin-right: calc(var(--indent) * -1);
        min-width: 90%;
      }

      @include tablet {
        position: relative;
        padding-bottom: 55px;
      }

      @include mobile-sm {
        position: relative;
        padding-bottom: 0;
        padding-top: 0;
        min-width: 100%;
      }
    }

    .hero__text {
      @include typography-txt-sm;
      color: $color-gray-light;
      margin-top: 20px;
      @include mobile-sm {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    .hero__link {
      margin-top: 40px;
      display: block;
      @include mobile-md {
        margin-top: 20px;
      }
    }
  }

  &--career,
  &--security,
  &--career,
  &--integrations {
    overflow: hidden;

    .hero__left {
      width: 45%;
      padding-right: 0;

      @include mobile-md {
        width: 70%;
        padding-top: 100px;
        margin: 0;
      }
      @include mobile-sm {
        width: 100%;
        padding-top: 55px;
      }
    }

    .hero__right {
      width: 50%;
      @include laptop {
        padding-top: 50px;
      }
      @include mobile-md {
        width: 100%;
        padding-bottom: 100px;
      }
      @include mobile-sm {
        width: 100%;
        padding-bottom: 80px;
      }
    }

    .hero__wrapper {
      @include mobile-md {
        flex-wrap: wrap;
      }
    }

    .hero__img {
      position: relative;
      @include mobile-md {
        margin: auto;
        margin-top: 90px;
        width: 100%;
        max-width: 600px;
      }
      @include mobile-sm {
        margin-top: 10px;
      }


      &::before {
        left: -15%;
        bottom: -15%;
        width: 55%;
        height: 55%;
        background-size: 90%;
        background-image: url("../img/pattern.svg");
        @include laptop {
          width: 60%;
          height: 75%;
          max-width: 400px;
          max-height: 200px;
        }
        @include mobile-sm {
          background-size: 110%;
          bottom: -20%;
          width: 70%;
          height: 75%;
        }
      }

      &::after {
        right: -10%;
        top: -10%;
        width: 55%;
        height: 55%;
        background-size: 80%;
        background-image: url("../img/pattern.svg");
        @include laptop {
          width: 55%;
          height: 55%;
        }
        @include mobile-md {
          width: 60%;
          height: 50%;
          max-width: 400px;
          max-height: 200px;
          background-size: 100%;
          transform: translate(24%, -40%);
        }
        @include mobile-sm {
          background-size: 110%;
          width: 70%;
          height: 75%;
          top: 10%;
        }
      }
    }
  }

  &--404 {
    .hero__left {
      padding-right: 0;
    }

    .hero__right {
      width: 50%;
    }
  }
}
