.integrations {
  overflow: hidden;
  @include tablet {
    padding-top: 40px;
  }

  @include mobile-sm {
    padding-top: 0;
  }

  & + & {
    margin-top: 50px;
    @include mobile-sm {
      margin-top: 20px;
    }
  }

  .wrap--cards {
    @include gap-sm;
    flex-wrap: wrap;

    .col {
      @include col-4;

      @include tablet {
        @include col-6;
      }

      @include mobile-sm {
        @include col-12;
      }
    }
  }


  h2 {
    @include typography-h2;
    margin-bottom: 30px;
  }

  h3 {
    @include typography-h3;
    margin-bottom: 15px;
  }
}