.link {
  font-family: $base-font;
  font-size: 16px;
  line-height: 24px;
  color: $color-base;
  transition: color $transition-props;

  &:hover {
    color: $color-accent;
  }
}

.link--simple {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    right: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 1px;

    background-color: transparent;

    transition: background-color $transition-props;
  }

  &:hover::before {
    background-color: $color-accent;
  }
}

.link--accent {
  color: $color-accent;
}

.link--icon-accent {
  fill: $color-accent;
}

.link--icon-base {
  fill: $color-base;
}

.link--with-icon {
  display: inline-flex;

  font-weight: 500;
  align-items: center;

  svg {
    margin-left: 12px;

    @include mobile-md {
      margin-left: 8px;
      margin-top: 3px;
    }
  }
}

.link--with-icon-reverse {
  display: inline-flex;
  font-weight: 500;
  align-items: center;

  svg {
    margin-right: 12px;

    @include mobile-md {
      margin-left: 8px;
      margin-top: 3px;
    }
  }
}

.link--invert {
  position: relative;
  color: $color-contrast;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;

    display: block;
    width: 100%;
    height: 1px;

    background-color: transparent;

    transition: background-color $transition-props;
  }

  &:hover, &:focus {
    color: $color-contrast;

    &::before {
      background-color: $color-accent;
    }
  }
}

.link--small {
  font-size: 14px;
  line-height: 21px;
}

.link--safety {
  @include mobile-md {
    display: none;
  }
}

.link--quote {
  @include mobile-md {
    margin-left: var(--indent);
  }
}

.link--patents {
  @include mobile-md {
    font-size: 14px;
    line-height: 21px;
  }
}
