.mission {
  .wrapper {
    padding: 85px;
    @include laptop{
      padding: var(--indent);
    }
  }

  .wrap--mission {
    align-items: flex-end;
    @include laptop {
      align-items: center;
    }
    @include mobile-md {
      flex-wrap: wrap;
    }
  }

  &__title {
    @include typography-h2;
    margin-top: 0px;
    @include laptop {
      margin-top: 30px;
    }
    @include mobile-xs {
      font-size: 32px;
    }
  }

  &__description {
    @include typography-subhead;
    font-weight: 400;
    margin-top: 40px;
  }

  &__tick {
    width: 40px;
    height: 4px;
    position: relative;
    top: -20px;
    background: $color-accent;
  }

  &__count {
    display: flex;
    flex-direction: column;
  }

  &__right {
    min-width: 300px;

    @include mobile-md {
      margin-top: 60px;
      margin-bottom: 40px;
    }
  }

  &__left {
    flex-grow: 1;
    padding-right: 150px;

    @include laptop {
      padding-right: 15vw;
    }

    @include mobile-md {
      min-width: 100%;
      padding-right: 0;
    }
  }

  &__text {
    &--big {
      @include typography-h2;
    }

    &--small {
      @include typography-txt-sm;
      font-size: 16px;
      color: $color-gray-dark;
    }
  }
}