.post {
  padding-top: 42px;
  padding-bottom: 86px;
  overflow: hidden;

  @include mobile-md {
    padding-top: 20px;
    padding-bottom: 35px;
  }

  .post__content, .post__header {
    p {
      @include typography-txt-big;
      color: $color-base;
      display: block;
      margin-top: 30px;
      margin-bottom: 35px;
    }

    img {
      width: 100%;
    }

    button {
      background: $color-base;
      color: $color-contrast;
    }

    a {
      color: $color-accent;
    }

    h1 {
      @include typography-h2;
      margin-top: 40px;
      margin-bottom: 40px;
      @include mobile-md {
        margin-top: 20px;
      }
    }

    h2 {
      @include typography-h3;
    }

    h3 {
      @include typography-h4;
    }

    h6 {
      @include typography-txt-big;
      font-weight: 500;
      color: $color-base;
      display: block;
      margin-bottom: 40px;
    }

    ul, ol {
      list-style: none;
      padding-left: 30px;

      li {
        position: relative;
        margin-top: 20px;
      }

      li::before {
        content: "\2022";
        color: $color-accent;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        position: absolute;
        top: 0;
        left: -20px;
      }
    }
  }

}

.post__nav {
  border-bottom: 1px dashed $color-accent-light;
  @include mobile-md {
    border-bottom: none;
  }
}

.post__time {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  color: $color-gray-dark;
  fill: $color-gray-dark;

  @include laptop {
    line-height: 20px;
  }

  @include mobile-md {
    line-height: 20px;
  }

  p, span {
    font-weight: 500;
  }

  svg {
    margin-right: 5px;
  }
}

.post__wrapper {
  @include make-sm-block-wrapper;
  padding-left: calc(var(--indent));
  padding-right: calc(var(--indent));

  @include mobile-md {
    @include make-block-wrapper;
  }
}

.post__image {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

}

.post__header {
  .box--pattern {
    margin-top: -7vw;
    @include mobile-sm {
      margin-top: -50px;
    }
  }
}

