.post {
  padding-top: 40px;
  padding-bottom: 80px;
  overflow: hidden;

  @include laptop {
    padding-bottom: 60px;
  }

  @include mobile-md {
    padding-top: 0;
    padding-bottom: 35px;
  }

  .post__content,
  .post__header {
    p {
      font-size: 21px;
      color: $color-base;
      display: block;
      line-height: 1.5;
      margin-bottom: 25px;

      @include mobile-md {
        font-size: 16px;
      }

      img {
        display: block;
        margin-top: 60px;
        margin-bottom: 40px;
      }

      &[style^="display: flex"] {
        margin-top: 0;

        img {
          @include mobile-sm {
            margin-top: 0;
          }
        }
      }
    }

    .post__sub {
      @include typography-subhead;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;

      &.sm {
        width: 40%;
      }

      &.md {
        width: 60%;
      }

      &.lg {
        width: 80%;
      }
    }

    blockquote {
      margin-left: 0;
    }

    button {
      background: $color-base;
      color: $color-contrast;
    }

    strong {
      font-weight: 500;

      strong {
        @include typography-h5;
      }
    }

    br {
      display: none;
    }

    a {
      color: $color-accent;
    }

    h1 {
      @include typography-h1;
      margin-top: 40px;
      margin-bottom: 25px;

      @include mobile-md {
        margin-top: 20px;
      }
    }

    h2 {
      @include typography-h3;
      line-height: 1.2;
      margin-bottom: 28px;
      margin-top: 70px;
    }

    h3 {
      @include typography-h4;
      margin-top: 70px;
      margin-bottom: 28px;
    }

    h4 {
      @include typography-h5;
      margin-top: 70px;
      margin-bottom: 28px;
    }

    h6 {
      @include typography-h6;
      font-weight: 500;
      color: $color-base;
      display: block;
      margin-bottom: 40px;
    }

    p + ol {
      margin-top: -5px;
    }

    ul,
    ol {
      list-style: none;
      padding-left: 30px;
      margin-bottom: 60px;

      li {
        position: relative;
        margin-top: 20px;
        font-size: 21px;

        @include mobile-md {
          font-size: 16px;
        }
      }

      li::before {
        content: "\2022";
        color: $color-accent;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        position: absolute;
        top: 0;
        left: -20px;
      }
    }
  }

  .link {
    @include typography-txt-sm;
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:not(:hover) {
      color: $color-gray-dark;
    }
  }
}

.post__nav {
  @include pseudo-absolute;

  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;

  @include mobile-md {
    padding-top: 35px;
    padding-bottom: 25px;
  }

  &::after {
    background-image: url("../img/line-pattern.svg");
    background-repeat: no-repeat;
    background-size: 1440px;
    background-position: center;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;

    @include mobile-md {
      display: none;
    }
  }
}

.post__time {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  color: $color-gray-dark;
  fill: $color-gray-dark;

  @include laptop {
    line-height: 20px;
  }

  @include mobile-md {
    line-height: 20px;
  }

  p,
  span {
    font-weight: 500;
  }

  svg {
    margin-right: 5px;
  }
}

.post__wrapper {
  @include make-sm-block-wrapper;
  padding-left: calc(var(--indent));
  padding-right: calc(var(--indent));

  @include mobile-md {
    @include make-block-wrapper;
  }
}

.post__image {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
