.protection {
  padding-top: 55px;
  padding-bottom: 95px;

  @include tablet {
    padding-bottom: 55px;
  }
  @include mobile-md {
    padding-top: 35px;
  }

  h3 {
    @include typography-h3;
  }

  h2 {
    @include typography-h2;
    margin-left: 15px;
    letter-spacing: -0.005em;
  }

  p {
    margin-bottom: 0;
  }

  img {
    display: block;
    margin-bottom: -10px;
  }

  .wrap {
    &--img {
      margin-top: 20px;

      .col {
        margin-top: 0;
      }

      .col--right {
        @include col-6;
        @include row-end;

        @include tablet {
          @include col-8;
          padding-right: 50px;
          img {
            width: 450px !important;
            margin-top: 20px;
          }
        }

        @include mobile-md {
          padding-right: 0;
        }

        @include mobile-sm {
          display: none;
        }
      }

      .col--left {
        @include col-6;
        z-index: 1;

        h3 {
          margin-top: 50px;
        }

        @include tablet {
          @include col-8;
          padding-right: 50px;
        }

        @include mobile-sm {
          @include col-12;
          margin-bottom: 25px;
          padding-right: 0;
        }
      }
    }

    &--cards {
      @include gap-sm;
      flex-wrap: wrap;
      margin-top: 25px;
      background: #FFFFFF;
      border-radius: 4px;
      padding: 10px 10px 20px 25px;

      @include tablet {
        padding-bottom: 50px;

      }
      @include mobile-md {
        margin: 0;
        width: 100%;
      }

      .col {
        @include col-4;

        @include tablet {
          @include col-12;
        }
      }
    }
  }
}
