.protection {
  padding-top: 35px;
  padding-bottom: 95px;

  @include tablet {
    padding-bottom: 55px;
  }
  @include mobile-md {
    padding-top: 35px;
  }

  h3 {
    @include typography-h3;
  }

  h2 {
    @include typography-h2;
    margin-left: 15px;
    letter-spacing: -0.005em;
    white-space: nowrap;
    @include mobile-xs {
      white-space: pre-wrap;
    }
  }

  p {
    margin-bottom: 0;
  }

  img {
    display: block;
    margin-bottom: -10px;
  }

  .wrap {
    &--img {
      padding-top: 40px;
      padding-bottom: 40px;
      @include mobile-sm{
        padding-top: 20px;
        padding-bottom: 0;
      }

      .col {
        margin-top: 0;
      }

      .col--right {
        @include col-6;
        display: flex;
        justify-content: flex-end;

        @include tablet {
          @include col-4;
          justify-content: flex-start;
          margin-left: -5vw;
        }

        @include mobile-md {
          padding-right: 0;
        }

        @include mobile-sm {
          display: none;
        }
      }

      .col--left {
        @include col-6;
        z-index: 1;
        padding-right: 25px;

        @include tablet {
          @include col-8;
        }

        @include mobile-sm {
          @include col-12;
          margin-bottom: 35px;
          padding-right: 0;
        }

        h3 {
          margin-top: 50px;
          @include tablet {
            margin-top: 30px;
          }
        }
      }
    }

    &--cards {
      @include gap-sm;
      flex-wrap: wrap;
      margin-top: 25px;
      background: #FFFFFF;
      border-radius: 4px;
      padding: 10px 10px 20px 25px;

      @include tablet {
        padding-bottom: 50px;

      }
      @include mobile-md {
        margin: 25px 0 0;
        width: 100%;
      }

      .col {
        @include col-4;

        @include tablet {
          @include col-12;
        }
      }
    }
  }
}
