.quote {
  padding-top: 101px;
  padding-bottom: 95px;

  @include laptop {
    padding-bottom: 70px;
  }

  @include mobile-md {
    padding-top: 50px;
    padding-bottom: 53px;
  }
}

.quote__wrapper {
  @include make-block-wrapper;
  padding-left: var(--indent);
  padding-right: var(--indent);

  @include mobile-md {
    padding-left: 0;
    padding-right: 0;
  }

  h2 {
    @include typography-h2;
    margin-bottom: 42px;
    letter-spacing: -0.005em;

    @include laptop {
      margin-bottom: 52px;
    }

    @include mobile-md {
      margin-bottom: 23px;
      line-height: 1.3;
      padding-left: var(--indent);
      padding-right: var(--indent);
    }
  }
}

.quote__desc {
  display: flex;
  align-items: center;
  margin-bottom: 36px;

  @include laptop {
    margin-bottom: 40px;
  }

  @include mobile-md {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    padding-left: var(--indent);
    padding-right: var(--indent);
  }

  p {
    @include typography-txt-blog;
    max-width: 770px;
    width: 85%;
    font-weight: 500;

    @include mobile-md {
      width: 100%;
    }
  }
}

.quote__desc-icon {
  position: relative;
  display: flex;
  justify-content: center;
  //align-items: center;
  width: 104px;
  height: 104px;
  margin-right: 30px;
  border: 1px solid $color-accent-light;
  box-shadow: 0 4px 12px rgba(47, 27, 73, 0.12),
  0 1px 1px rgba(47, 41, 64, 0.08);
  border-radius: 12px;

  @include laptop {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }

  @include mobile-md {
    margin-right: 0;
    margin-bottom: 13px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-image: linear-gradient(51.27deg, #00713d -1.09%, #3ca022 90.1%);

    @include laptop {
      width: 55px;
      height: 55px;
    }
  }

  svg {
    position: relative;
    margin-top: 28px;

    @include laptop {
      width: 44px;
      height: 44px;
      margin-top: 21px;
    }
  }
}

.quote__content {
  display: flex;
  margin-bottom: 32px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-image: url("../img/bg-quote.svg");
  background-repeat: no-repeat;
  background-position: 0 30px;
  background-size: 153px 120px;

  @include laptop {
    margin-bottom: 26px;
    padding-bottom: 37px;
    padding-top: 0;
    background-position: 0 36px;
    background-size: 120px 92px;
  }

  @include mobile-md {
    position: relative;
    flex-direction: column;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-position: -32px 17px;
    border-top: 0;
    border-bottom: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: var(--indent);
      width: calc(100% - (var(--indent) * 2));
      height: 1px;
      background-color: $color-accent-light;
      @include mobile-md {
        display: none;
      }
    }
  }
}

.quote__content-text {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 106px;
  padding-right: 70px;


  @include laptop {
    margin-right: 4px;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  @include tablet {
    padding-right: 35px;
  }
  @include mobile-md {
    width: calc(100% - (var(--indent) * 2));
    margin-left: var(--indent);
    margin-right: var(--indent);
    padding-top: 11px;
    padding-bottom: 22px;
    padding-left: 0;
    padding-right: 0;
  }

  p {
    @include typography-txt-big;
  }
}

.quote__content-avatar {
  @include pseudo-absolute;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  min-width: 22%;

  @include tablet {
    justify-content: flex-start;
  }
  @include mobile-md {
    width: calc(100% - (var(--indent) * 2));
    margin-left: var(--indent);
    margin-right: var(--indent);
    margin-bottom: 13px;
    min-width: 28%;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 0;
  }

  &:before {
    width: 1px;
    background: $color-accent-light;
    left: -25px;
    height: calc(100% - 70px);
    bottom: 50%;
    transform: translateY(50%);

    @include tablet {
      display: none;
    }

    @include mobile-md {
      display: block;
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      transform: none;
    }
  }
}

.quote__avatar-img {
  position: relative;
  margin-top: 15px;

  @include mobile-md {
    max-width: none;
    width: 100%;
    margin-right: 23px;
    margin-bottom: 0;
  }

  svg {
    width: 100%;
    max-width: 189px;
  }
}

.quote__avatar-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 189px;
  @include mobile-md {
    width: 339px;
  }
}

.quote__avatar-name {
  margin-bottom: 7px;

  @include laptop {
    margin-bottom: 5px;
    padding-left: 0;
  }

  @include mobile-md {
    margin-top: 15px;
  }

  p {
    @include typography-h6;
  }
}

.quote__avatar-post {
  padding-right: 20px;

  @include laptop {
    margin-bottom: 9px;
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: $color-gray-dark;
  }
}
