.safety {
  padding-top: 35px;
  padding-bottom: 95px;

  @include laptop {
    padding-top: 25px;
    padding-bottom: 71px;
  }

  @include mobile-md {
    padding-top: 60px;
    padding-bottom: 53px;
  }
}

.safety__wrapper {
  @include make-block-wrapper;
  padding-left: var(--indent);
  padding-right: var(--indent);
}

.safety__title {
  @include typography-h2;
  margin-bottom: 70px;
  letter-spacing: -0.005em;

  @include laptop {
    margin-bottom: 53px;
  }

  @include tablet {
    margin-bottom: 35px;
  }
}

.safety__list {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 36px;

  @include laptop {
    margin-bottom: 43px;
  }

  @include tablet {
    flex-direction: column;
  }

  @include mobile-md {
    margin-bottom: 0;
  }
}

.safety__item {
  position: relative;
  width: calc(100% / 2 - 12px);
  padding-left: 106px;
  background: #fff;
  box-shadow: 0px 2px 20px rgba(152, 136, 196, 0.16);
  padding: 35px 20px 20px 130px;

  @include laptop {
    padding-left: 30px;
  }
  @include tablet {
    width: 100%;
    padding-left: 30px;
  }

  @include mobile-md {
    padding: 35px 20px 20px 20px;
    background: none;
    box-shadow: none;
    width: 100%;
    padding: 0;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }


  &:nth-child(odd) {
    margin-right: auto;

    @include tablet {
      margin-bottom: 25px;
    }
  }


  h3 {
    @include typography-h5;

    @include laptop {
      margin-left: 20px;
    }

    @include tablet {
      font-size: 24px;
      line-height: 31px;
    }
  }

  .wrap {
    margin-bottom: 15px;
  }

  p {
    @include typography-txt;

    @include laptop {
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
  }
}


.safety__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90px;
  min-height: 90px;
  border-radius: 50%;
  background-color: $color-accent;
  position: absolute;
  top: 0;
  left: 20px;
  top: 40px;
  @include laptop {
    position: static;
  }
}

.safety__listbox {
  @include no-list;
  padding-left: 13px;

  @include tablet {
    padding-left: 30px;
  }
  @include mobile-sm {
    padding-left: 0;
  }

  li {
    @include typography-list-compact;
  }

  b {
    font-weight: 500;
  }

  img {
    display: block;
    margin-top: 3px;
  }
}
