.social {
  @include no-list;

  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-auto-rows: auto;
  grid-auto-flow: row;
  grid-row-gap: 20px;

  padding-bottom: 20px;

  @include laptop {
    padding: 0 0 8px;
    grid-column-gap: 20px;
  }

  @include mobile-md {
    width: 100%;

    grid-column-gap: 30px;
  }

  @include mobile-xs {
    grid-column-gap: 20px;
  }


  li {
    width: max-content;

    // @include mobile-md {
    //   margin-right: auto;
    //   margin-left: auto;

    //   &:nth-child(6n + 1) {
    //     margin-left: 0;
    //     margin-right: auto;
    //   }

    //   &:nth-child(5n) {
    //     margin-right: 0;
    //     margin-left: auto;
    //   }
    // }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: $color-gray-social;
    fill: $color-contrast;

    transition:
      background-color $transition-props,
      fill $transition-props;

    &:hover,
    &:focus {
      background-color: $color-contrast;
      fill: $color-base;
    }
  }
}
