.tabs {
  position: relative;
  display: flex;
  flex-direction: column;
}

.tabs__controls {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 1px solid $color-gray-light;

  @include mobile-md {
    display: none;
  }
}

.tabs__control {
  @include reset-button;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  min-width: 70px;
  margin-right: 20px;
  padding: 0;
  padding-top: 10px;
  padding-left: 19px;
  padding-right: 19px;
  color: inherit;
  cursor: pointer;

  @include laptop {
    padding-left: 8px;
    padding-right: 8px;
  }

  @include tablet {
    margin-right: 0;
  }

  @include mobile-md {
    width: 100%;
    flex-direction: row;
    margin-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: var(--indent);
    padding-right: calc(var(--indent) + 20px);
    text-align: left;
    border-bottom: none;
    background-color: $color-contrast;
    background-image: url("../img/library/arrow-menu-bottom.svg");
    background-repeat: no-repeat;
    background-position: top 28px right 19px;
    background-size: 14px 12px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: $color-accent;
    opacity: 0;
    transition: opacity $transition-props;

    @include mobile-md {
      content: none;
    }
  }

  span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: $color-contrast;


    @include mobile-md {
      width: 40px;
      height: 40px;
      margin-bottom: 0;
      margin-right: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 70px;
      height: 70px;
      transition: opacity $transition-props;
      border: 1px solid $color-gray-light-2;
      border-radius: 50%;

      @include mobile-md {
        content: none;
      }
    }
  }

  svg {
    width: 33px;
    height: 33px;
    fill: none;
  }

  b {
    @include typography-txt;
    margin-bottom: 17px;

    @include laptop {
      font-size: 14px;
      line-height: 21px;
    }

    @include mobile-md {
      margin-bottom: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      text-align: left;
    }
  }

  &:hover,
  &:focus {
    outline: 0;

    &::before {
      opacity: 1;
    }


    span {
      &::before {
        opacity: 1;
      }
    }


    b {
      text-shadow: 0.6px 0 0 currentColor;

      @include mobile-md {
        text-shadow: none;
      }
    }
  }
}

.tabs__control--active {
  &::before {
    opacity: 1;
  }

  @include mobile-md {
    border-bottom: none;
    background-image: url("../img/library/arrow-menu-top.svg");
    background-repeat: no-repeat;
    background-position: top 28px right 19px;
    background-size: 14px 12px;
  }

  span {
    &::before {
      opacity: 1;
    }
  }


  b {
    text-shadow: 0.6px 0 0 currentColor;
  }
}

.tabs__wrapper {
  display: none;

  @include mobile-md {
    display: block;
    margin-bottom: 8px;
    border: 1px solid $color-accent-light;
  }
}

.tabs__wrapper--active {
  display: block;
  animation: fadeIn 0.7s $transition-timing-function;
}

.tabs__control--mobile {
  display: none;

  @include mobile-md {
    display: flex;
  }
}

.tabs__control--expanded {
  @include mobile-md {
    border-bottom: none;
    background-image: url("../img/library/arrow-menu-top.svg");
    background-repeat: no-repeat;
    background-position: top 28px right 19px;
    background-size: 14px 12px;
  }
}

.tabs__content {
  display: flex;
  padding-top: 99px;
  padding-left: 40px;
  padding-right: 40px;


  @include tablet {
    padding-top: 76px;
  }

  @include mobile-md {
    flex-direction: column-reverse;
    padding: 0;
  }
}

.tabs__content--hide {
  @include mobile-md {
    max-height: 0 !important;
  }
}

.tabs__left {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: auto;
  justify-content: center;
  padding-bottom: 66px;

  @include laptop {
    width: 288px;
    margin-right: auto;
    padding-right: 0;
  }

  @include mobile-md {
    width: 100%;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    padding-left: var(--indent);
    padding-right: var(--indent);
    background-color: $color-contrast;
  }

  h3 {
    @include typography-h3;
    margin-bottom: 21px;

    @include laptop {
      margin-bottom: 25px;
    }

    @include mobile-md {
      display: none;
    }
  }

  p {
    @include typography-txt-big;
  }
}

.tabs__right {
  @include pseudo-absolute;
  position: relative;
  padding-bottom: 66px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
  background-repeat: no-repeat;
  background-position: bottom 16px left 116px;
  background-size: 112px 112px;

  @include laptop {
    justify-content: center;
    background-position: bottom 4px left 13%;
    top: 50%;
  }

  @include tablet {
    justify-content: center;
    max-width: 670px;
    background-position: bottom 4px left 13%;
    width: 80%;
    margin-right: -32%;
  }

  @include mobile-md {
    max-width: 100%;
    width: 100%;
    padding-top: 43px;
    padding-bottom: 23px;
    min-height: 360px;
    background-repeat: no-repeat;
    background-position: top 30.3% left -70px,
    top 12% right 7%,
    bottom 0 right 2%;
    background-size: 140px auto,
    54px auto,
    142px auto;
  }


  &::before {
    left: -8%;
    top: -11%;
    bottom: auto;
    width: 60%;
    padding-bottom: 40.5%;
    height: 0;
    background-size: 58%;
    background-image: url(../img/pattern.svg);

    @include laptop {
      width: 80%;
    }
    @include tablet {
      display: none;
    }
    @include mobile-md {
      display: block;
      right: auto;
      bottom: 0;
      top: auto;
      left: 0;
      max-width: 400px;
      background-size: 77%;
      left: -290px;
    }
    @include mobile-sm {
      background-size: 80%;
      top: 53%;
      width: 185%;
    }
  }

  &::after {
    right: -11.6%;
    top: auto;
    bottom: 0;
    width: 53%;
    padding-bottom: 31.5%;
    background-size: 82%;
    background-image: url(../img/pattern.svg);


    @include tablet {
      right: 0;
      left: auto;
      background-size: 100%;
      bottom: auto;
      top: 0;
    }
    @include mobile-md {
      right: -200px;
    }
    @include mobile-sm {
      width: 50%;
      top: 10%;
      padding-bottom: 55%;
      background-size: 300px;
      right: -30%;
      left: auto;
      transform: none;
    }
  }

  .wrap {
    position: relative;
    @include pseudo-absolute;

    &:before {
      width: 100%;
      height: 100%;
      background: #F6F6F9;
      border-radius: 4px;
      bottom: -20px;
      right: -20px;
      @include mobile-md {
        display: none;
      }
    }
  }

  img {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    max-width: 670px;
    margin-left: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;


    @include laptop {
      max-width: unset;
    }

    @include mobile-md {
      width: 100%;
      margin: 0 auto;
      box-shadow: none;
      border-radius: 0;
    }
  }
}
