include ./modal
include ./form-offer

-
  const modalID = 'modal-offer';
  const formIDNumber = 2;
  const isModal = true;
  const formID = 'modal-offer-form'

mixin modal-offer
  +modal(modalID)
    +form-offer(isModal, formIDNumber, formID)
