extends ../global/layout
include ../mixins/p404

block variables
  -
    const title = "Corruption";
    const routeClass = "js-route-blog";
    const pageName = "corruption";

block content
  +p404()