extends ../global/layout
include ../mixins/svg
include ../mixins/button
include ../mixins/button-play
include ../mixins/picture
include ../mixins/form-feedback
include ../mixins/page-title

block variables
  -
    const lang = "ru";
    const title = "Dialog";
    const routeClass = "js-route-main";

block content
  +page-title('Обратная связь')
  .feedback
    .wrapper.wrapper--main
      .wrap.wrap--gap-lg.wrap--as.wrap--sb
        .col.col--left
          +form-feedback(false, 1, 'offer-form')
        .col.col--right
          .card.card--dark
            h2.card__title Корпоративным клиентам
            p.card__sub Если вы пользователь dialog enterprise — воспользуйтесь центром поддержки для корпоративных клиентов.  Или запросите доступ у вашего администратора.
          .card.card--transparent
            a(href="/" target="_blank")
              | Центр поддержки клиентов
              +svg('arrow-right',12, 10)
            p.card__sub
              span
                | Связаться со службой поддержки можно также по &nbsp;
              span
                | email:&nbsp;
              a(href="/" target="_blank")
                | support@dlg.im