extends ../global/layout
include ../mixins/svg
include ../mixins/button
include ../mixins/button-play
include ../mixins/picture
include ../mixins/form-feedback
include ../mixins/page-title

block variables
  -
    const title = "Dialog";
    const routeClass = "js-route-main";
    const pageName = "help";

block content
  +page-title(t.help.title)
  .feedback
    .wrapper.wrapper--main
      .wrap.wrap--gap-lg.wrap--as.wrap--sb.wrap--main
        .col.col--left
          +form-feedback(false, 1, 'offer-form')
        .col.col--right
          .card.card--dark.card--help
            h2.card__title=t.help.sub
            p.card__sub=t.help.text
            .wrap.wrap--mt
              a.link.link--accent.link--icon-accent.link--with-icon(href="https://support.dlg.im/" target="_blank")
                | !{t.help.link}
                +svg('arrow-right',12, 10)
          .card.card--help
            p.card__sub
              span
                | !{t.help.connect}
              .wrap.wrap--mt
                a.link.link--accent(href="mailto:support@dlg.im" target="_blank")
                  | support@dlg.im