include ../global/head
-
  const lang = "ru";
  const title = "INDEX";

html(lang=lang)
  +head(title, bodyClassName)
  body
    .page
      .page__content.index-page
        ul
          li
            a(href="main.html") Главная страница (main.html)
          li
            a(href="patents.html") Патенты и сертификаты (patents.html)
          li
            a(href="legal.html") Правовая информация (legal.html)
          li
            a(href="public.html") Социальная ответственность (public.html)
          li
            a(href="ui-kit.html") Библиотека (ui-kit.html)
          h2 new
          li
            a(href="integrations.html") Интеграции (integrations.html)
          li
            a(href="career.html") Карьера (career.html)
          li
            a(href="blog.html") Блог (blog.html)
          li
            a(href="post.html") Страница блога (blog.html)
          li
            a(href="help.html") Помощь (help.html)
          li
            a(href="download.html") Скачать (download.html)
          li
            a(href="security.html") Безопасность (security.html)