extends ../global/layout
include ../mixins/page-title
include ../mixins/svg
include ../mixins/button
include ../mixins/picture
include ../mixins/form-cta

block variables
  -
    const lang = "ru";
    const title = "Dialog";

block content
  -
    const post =
    {
      title: "Цифровая гигиена: как уберечь переписку в мессенджерах от кокурентов",
      text: "Сбербанк объявил о запуске корпоративного мессенджера «Сберчат», созданого на базе платформы dialog.",
      date: "27 февраля, 2020",
      time: "1 мин",
      img: "2-desktop",
      link: "/blog-page",
      isWIde: true
    };

  section.post
    .post__wrapper
      .post__nav
        .wrap.wrap--sb.wrap--ac
          a(class="link link--with-icon-reverse" href="/blog.html")
            +svg('arrow-left', 16, 15)
            span Назад
          .wrap.post__time
            p=post.date
            .wrap.wrap--ac
              +svg('icon-watch', 17, 17)
              span=post.time
      .post__header
        h1.post__title.post__title--h1=post.title
        h6.post__title.post__title--sub=post.text
        .post__image.post__image--header
          +picture('img/hero', 'png', 'Фото ноутбука и мобильного телефона', "100%")
        .box--pattern
      .post__content
        p.post__text Локальный мессенджер работает в offline режиме во внутренней сети без Интернета. Приложение устанавливается на внутренний сервер, чтобы доступ к нему имели только разрешенные пользователи.
        p.post__text С его помощью ваши работники могут обмениваться мгновенными сообщениями, файлами и документами, общаться по веб-камере, но все данные останутся в данной сети. Это позволяет обеспечить надежный уровень защиты коммерческой информации и не допустить ее утечки. Отдельные службы, подразделения и отделы организации, где есть только локальная сеть, могут использовать мессенджер и интегрированные с ним корпоративные сервисы без ограничений.
        h2.post__title.post__title--h2 Будьте решительны
        p.post__text Для большинства из нас основная цель заключается в том, чтобы получить четкое представление коллег о том, в чём мы сильны, а над чем стоит поработать. Но не забывайте, что вы сами должны быть готовы к получению обратной связи. Если вы допускаете, что после получения фидбэка можете начать оправдываться, защищаться и спорить с рецензентами, то в ближайшее время лучше не поднимать этот вопрос, так как после подобной реакции будет намного сложнее добиться объективного отзыва от коллег в будущем. Ваша цель — получать обратную связь с позитивным, принимающим отношением. Помните, что многим людям так же сложно предоставить отзыв, как и вам его запросить.
        h2.post__title.post__title--h2 Подготовьте вопросы
        p.post__text Помните о своих целях, когда готовите список вопросов для обратной связи. Если вы хотите улучшить отношения с членами команды, задавайте вопросы, которые касаются текущей рабочей атмосферы. Если ваша цель в том, чтобы повысить продуктивность, спросите рецензентов о том, как вы могли бы улучшить управление проектом. Не забывайте и про ряд открытых вопросов — они помогут вам узнать общие впечатления.
        h3.post__title.post__title--h3 Подготовьте вопросы
        ul.post__list
          li Считаете ли вы себя ценным членом команды?
          li Считаете ли, что я достаточно прислушиваюсь к вашим рекомендациям?
          li Что я делаю хорошо, а что необходимо улучшить?
          li Что вы делаете не так и хотите исправить?
          li Как, по-вашему, выглядит идеальная версия этого проекта?
          li Какие проблемы и интересные задачи довелось решать в последнее время и насколько успешно?
          li Какие цели вы ставили перед собой и каковы достижения?
        h2.post__title.post__title--h2 Выберите способ
        p.post__text Прямое взаимодействие и личные встречи, как правило, не всегда являются наиболее эффективными методами получения обратной связи, так как вы не даете рецензентам достаточно времени, чтобы подготовиться и корректно сформулировать фидбэк. Воспользуйтесь онлайн-инструментами, чтобы не заставать коллег врасплох и получить максимально объективную оценку.
        p.post__text Презентации, Google Документы, системы управления проектами. Настройте процесс обратной связи в системах управления проектами (например, Asana или Trello) или в Google Docs для сбора и компиляции фидбэка от всех заинтересованных сторон, участвующих в проекте.
        p.post__text Опрос. SurveyMonkey или Typeform — отличный способ получить анонимную обратную связь о конкретном проекте.
        .post__image.post__image--inside
          +picture('img/hero', 'png', 'Фото ноутбука и мобильного телефона', "100%")

  section.blog.box.box--gray
    .blog__wrapper
      h2.blog__title Блог компании
      ul.blog__list
        li.blog__item
          a(href="/blog.html").blog__card
            .blog__img-box
              +picture('img/pages/blog/blog-1-desktop', 'jpg', 'Изображение приложения', 380)
            .blog__text-box
              h3.blog__card-title Корпоративный мессенджер для локальной сети
              .blog__text-info
                p 27 февраля, 2020
                div
                  +svg('icon-watch', 17, 17)
                  span 1 мин
        li.blog__item
          a(href="/blog.html").blog__card
            .blog__img-box
              +picture('img/pages/blog/blog-2-desktop', 'jpg', 'Изображение приложения', 380)
            .blog__text-box
              h3.blog__card-title Корпоративный мессенджер&nbsp;&mdash; виды, возможности и&nbsp;сферы применения
              .blog__text-info
                p 27 февраля, 2020
                div
                  +svg('icon-watch', 17, 17)
                  span 1 мин
        li.blog__item
          a(href="/blog.html").blog__card
            .blog__img-box
              +picture('img/pages/blog/blog-3-desktop', 'jpg', 'Изображение приложения', 380)
            .blog__text-box
              h3.blog__card-title Цифровая гигиена: как уберечь переписку в&nbsp;мессенджерах от&nbsp;конкурентов
              .blog__text-info
                p 27 февраля, 2020
                div
                  +svg('icon-watch', 17, 17)
                  span 1 мин
      a(class="link link--with-icon blog__link" href="/blog.html") Смотреть все
        +svg('arrow-right', 16, 15)

  section.box.box--purple
    .wrapper.wrapper--main
      .cta.cta--form
        +form-cta(1,'cta-main')
