extends ../global/layout
include ../mixins/svg
include ../mixins/button
include ../mixins/button-play
include ../mixins/picture
include ../mixins/form-feedback
include ../mixins/page-title

block variables
  -
    const title = t.meta.support_title;
    const desc = t.meta.main_desc;
    const routeClass = "js-route-main";
    const pageName = "support";

block content
  +page-title(t.support.title)
  .feedback
    .wrapper.wrapper--main
      .wrap.wrap--as.wrap--sb.wrap--main
        .col.col--left
          +form-feedback(false, 1, 'form-feedback')
        .col.col--right
          .card.card--dark.card--support
            h2.card__title=t.support.sub
            p.card__sub=t.support.text
            .wrap.wrap--mt
              a.link.link--accent.link--icon-accent.link--with-icon(href="https://support.dlg.im/" target="_blank")
                | !{t.support.link}
                +svg('arrow-right',12, 10)
          .card.card--support
            p.card__sub
              span
                | !{t.support.connect}
              .wrap.wrap--mt
                a.link.link--accent(href="mailto:support@dlg.im" target="_blank")
                  | support@dlg.im