include ./head
include ./header
include ./footer
include ../mixins/form-modal

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const routeClass = ""
    const pageName = ""

html(lang=lang class=routeClass)
  block head
    script.
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MHX7HL6');
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    title!=title
    meta(name="description" content=desc)
    link(rel="preload" href="/fonts/Euclid-CircularA-Medium.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="/fonts/Euclid-CircularA-Regular.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet" href=`/css/style.min.css`)
    link(rel="shortcut icon" href=`/img/favicon.png`)

  body
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-MHX7HL6' height='0' width='0' style='display:none;visibility:hidden')

    .page
      +header(pageName, lang)
      main.page__content
        block content
      .page__footer
        +footer(lang)
      +form-modal(pageName)
      script(src=`/js/vendor.min.js`)
      script(src=`/js/index.min.js`)
