include ./head
include ./header
include ./footer
include ../mixins/modal-offer

doctype html
block variables
  -
    const lang = ""
    const title = ""
    const routeClass = ""

html(lang=lang class=routeClass)
  block head
    +head(title)
  body()
    .page
      +header
      main.page__content
        block content
      .page__footer
        +footer
    +modal-offer()
    script(src="js/vendor.min.js")
    script(src="js/index.min.js")