include ./head
include ./header
include ./footer
include ../mixins/form-modal

doctype html
block variables
  -
    const title = ""
    const desc = ""
    const routeClass = ""
    const pageName = ""

html(lang=lang class=routeClass)
  block head
    script.
      self.addEventListener('activate', function(event) {
        event.waitUntil(
          caches.keys().then(function(cacheNames) {
            return Promise.all(
              cacheNames.filter(function(cacheName) {
                // Return true if you want to remove this cache,
                // but remember that caches are shared across
                // the whole origin
              }).map(function(cacheName) {
                return caches.delete(cacheName);
              })
            );
          })
        );
      });
    script.
      navigator.serviceWorker.getRegistrations().then( function(registrations) { for(let registration of registrations) { registration.unregister(); } });
    script.
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.getRegistrations().then(function(registrations) {
          for (let registration of registrations) {
            //unregister service worker for old domain
            registration.unregister()
          }
        }).catch(function(err) {
          // fail state, which is fine as we just don't want a service worker.
          console.log('Fail: ', err);
        });
      }
    script.
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MHX7HL6');
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    title!=title
    meta(name="description" content=desc)
    link(rel="preload" href="/fonts/Euclid-CircularA-Medium.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="/fonts/Euclid-CircularA-Regular.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet" href=`/css/style.min.css`)
    link(rel="shortcut icon" href=`/img/favicon.png`)

  body
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-MHX7HL6' height='0' width='0' style='display:none;visibility:hidden')

    .page
      +header(pageName, lang)
      main.page__content
        block content
      .page__footer
        +footer(lang)
      +form-modal(pageName)
      script(src=`/js/vendor.min.js`)
      script(src=`/js/index.min.js`)
