@mixin row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin row-reverse {
  @include row;

  flex-direction: row-reverse;
}

@mixin row-start {
  @include row;

  justify-content: flex-start;
  text-align: start;
}

@mixin row-center {
  @include row;

  justify-content: center;
  text-align: center;
}

@mixin row-end {
  @include row;

  justify-content: flex-end;
  text-align: end;
}

@mixin row-top {
  @include row;

  align-items: flex-start;
}

@mixin row-middle {
  @include row;

  align-items: center;
}

@mixin row-bottom {
  @include row;

  align-items: flex-end;
}

@mixin row-around {
  @include row;

  justify-content: space-around;
}

@mixin row-between {
  @include row;

  justify-content: space-between;
}

@mixin col {
  flex: 0 0 auto;
}

@mixin col-1 {
  @include col;

  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

@mixin col-2 {
  @include col;

  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

@mixin col-3 {
  @include col;

  flex-basis: 25%;
  max-width: 25%;
}

@mixin col-4 {
  @include col;

  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

@mixin col-5 {
  @include col;

  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

@mixin col-6 {
  @include col;

  flex-basis: 50%;
  max-width: 50%;
}

@mixin col-7 {
  @include col;

  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

@mixin col-8 {
  @include col;

  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

@mixin col-9 {
  @include col;

  flex-basis: 75%;
  max-width: 75%;
}

@mixin col-10 {
  @include col;

  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

@mixin col-11 {
  @include col;

  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

@mixin col-12 {
  @include col;

  flex-basis: 100%;
  max-width: 100%;
}

@mixin col--offset {
  flex: 1 0 auto;
}

@mixin col-offset-0 {
  @include col--offset;

  margin-left: 0;
}

@mixin col-offset-1 {
  @include col--offset;

  margin-left: 8.33333333%;
}

@mixin col-offset-2 {
  @include col--offset;

  margin-left: 16.66666667%;
}

@mixin col-offset-3 {
  @include col--offset;

  margin-left: 25%;
}

@mixin col-offset-4 {
  @include col--offset;

  margin-left: 33.33333333%;
}

@mixin col-offset-5 {
  @include col--offset;

  margin-left: 41.66666667%;
}

@mixin col-offset-6 {
  @include col--offset;

  margin-left: 50%;
}

@mixin col-offset-7 {
  @include col--offset;

  margin-left: 58.33333333%;
}

@mixin col-offset-8 {
  @include col--offset;

  margin-left: 66.66666667%;
}

@mixin col-offset-9 {
  @include col--offset;

  margin-left: 75%;
}

@mixin col-offset-10 {
  @include col--offset;

  margin-left: 83.33333333%;
}

@mixin col-offset-11 {
  @include col--offset;

  margin-left: 91.66666667%;
}

@mixin gap-xs {
  margin: 0 -10px;
  width: calc(100% + 20px);

  & > [class*="col"] {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
  }
}

@mixin gap-sm {
  margin: 0 -15px;
  width: calc(100% + 30px);

  & > [class*="col"] {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
  }
}

@mixin gap-md {
  margin: 0 -30px;
  width: calc(100% + 60px);

  & > [class*="col"] {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 60px;
  }
}

@mixin gap-lg {
  margin: 0 -40px;
  width: calc(100% + 80px);

  & > [class*="col"] {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 80px;
  }
}
